<include file="Public/min-header"/>
<div class="wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="navbar navbar-default">
                <form action="" id="search-form2" class="navbar-form form-inline" method="post" onsubmit="return false">
                    <div class="form-group">
                        状态：
                        <select name="status" class="input-sm" style="width:100px;" onchange="window.location.href=this.value">
                            <option value="{:U('exchange_list', ['id' => $eid, 'status' => 2])}" <if condition='$status eq 2'>selected="selected"</if>>全部</option>
                            <option value="{:U('exchange_list', ['id' => $eid, 'status' => 0])}" <if condition='$status eq 0'>selected="selected"</if>>禁用</option>
                            <option value="{:U('exchange_list', ['id' => $eid, 'status' => 1])}" <if condition='$status eq 1'>selected="selected"</if>>启用</option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> <i class="fa fa-list"></i>
                        兑币列表
                    </h3>
                </div>
                <div id="ajax_return">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td class="text-center">ID</td>
                                    <td class="text-center">兑币名称</td>
                                    <td class="text-center">面值</td>
                                    <td class="text-center">使用会员</td>
                                    <td class="text-center">使用时间</td>
                                    <td class="text-center">兑币码</td>
                                    <td class="text-center">卡密</td>
                                    <td class="text-center">状态</td>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="lists" id="list">
                                    <tr>
                                        <td class="text-center">{$list.id}</td>
                                        <td class="text-center">{$list.name}</td>
                                        <td class="text-center">{$list.money}&nbsp;兑币/张</td>
                                        <td class="text-center">{$list.nickname|default='-'}</td>
                                        <td class="text-center">
                                            <if condition="$list[use_time] gt 0">
                                                {$list.use_time|date='Y-m-d H:i',###}
                                                <else/>
                                                -
                                            </if>
                                        </td>
                                        <td class="text-center">{$list.code}</td>
                                        <td class="text-center">{$list.password}</td>
                                        <td class="text-center">
                                        <if condition="$list[use_time] gt 0">
                                                已使用
                                                <else/>
                                                <img width="20" height="20" src="__PUBLIC__/images/<if condition='$list[status] eq 1'>yes.png
                                                    <else />cancel.png
                                                </if>
                                                " onclick="changeTableVal('exchange_list','id','{$list.id}','status',this)"/>
                                            </if>
                                                </td>
                                    </tr>
                                </volist>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-right">{$page}</div>
                </div>

            </div>
        </div>
    <!-- /.row -->
</section>
<!-- /.content -->
</div>
</body>
</html>